
.space
{
	padding: 20px;
}
.form-style-10{
	
	width:450px;
	padding:30px;
	margin : auto;
	background: #FFF;
	border-radius: 10px;
	-webkit-border-radius:10px;
	-moz-border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}

.form-style-10 .inner-wrap{
	padding: 10px;
	background: #F8F8F8;
	border-radius: 6px;
	margin-bottom: 0;
}
input[type="text"]
{
	border: none;
	font-size: medium;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

	border-radius: 10px;
	background-color: rgb(243, 243, 243);
	transition: ease-in-out 0.3s;
}
input[type="date"]
{
	border: none;
	font-size: medium;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

	border-radius: 10px;
	background-color: rgb(243, 243, 243);
	transition: ease-in-out 0.3s;
}

input[type="text"]:hover
{
	background-color: rgb(231, 231, 231);
}

input[type="date"]:hover
{
	background-color: rgb(231, 231, 231);
}

.form-style-10 .section{
		
	margin-bottom: 5px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	color: #007bff;
	font-size: 120%;
	padding-bottom: 20px;
	text-decoration: none;
	text-align: left;
	font-weight: 500;
	
}

.form-style-10 input[type="button"], 
.form-style-10 input[type="submit"]{
	background: #007bff;
	padding: 8px 20px 8px 20px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	font: normal 30px 'Bitter', serif;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid #257C9E;
	font-size: 15px;
}
.form-style-10 input[type="button"]:hover, 
.form-style-10 input[type="submit"]:hover{
	background: #007bff;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);


}


.form-style-10 input[type="button"], 
.form-style-10 input[type="reset"]{
	background: #007bff;
	padding: 8px 20px 8px 20px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	font: normal 30px 'Bitter', serif;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid #257C9E;
	font-size: 15px;
}
.form-style-10 input[type="button"]:hover, 
.form-style-10 input[type="reset"]:hover{
	background: #007bff;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);

}
body{
	background-size: cover;
	background-color: white;
}

input{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	background-color: aliceblue;
  }

  h1{
	  text-align: center;

	 	 font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
 		 color: #007bff;
  		font-size: 200%;
		  padding-bottom: 20px;
		  font-weight: 500;
		  text-decoration: none;
		  
  }

  h1 span{

	 color: darkgray;
  }

  label{

	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  }
  
  .dropdown{
	
  
 
  background-color: #007bff;
  min-width: 430px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  border-radius: 6px;
  


  }