* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  position: fixed;
  z-index: 100;
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 50px;
  width: 100%;
  margin-top: 0;
  background-color: var(--secondary-color);
  box-shadow: 0px 0px 2px #333;
}

.header .primary {
  margin-left: 10px;
  font-weight: 500;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 22px;
}
.header .primary span {
  font-weight: 500;
  font-size: 16px;
}
.item-image {
  display: grid;
  justify-content: center;
  margin-bottom: 100px;
}
.header .logout {
  margin-left: 85%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #0279f8;
  transition: ease-in-out 0.3s;
  color: white;
  border-radius: 6px;
  border: 1px solid #007bff;
}
.header .logout:hover {
  background-color: white;
  color: #007bff;
  border: 1px solid #fcfcfc;
  box-shadow: 0 0 5px white;
}
:root {
  --primary-color: #fff;
  --secondary-color: #007bff;
  --complimentary-color: #fff;
  --contrast-color: #fff;
  --light-color: #fff;
}

.container {
  background: #fff;
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.item {
  padding-left: 35px;
  width: 100%;
  padding-bottom: 15px;
  padding-top: 15px;
  transition: ease-in-out 0.3s;
  background-color: #007bff;
}

nav .selected {
  background-color: #ffffff;
  color: #007bff;
  box-shadow: 0 0 6px white;
}

.item:hover {
  background-color: #ffffff;
  color: #007bff;
  box-shadow: 0 0 6px white;
}
a {
  font-weight: 500;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
}
.specialOne {
  border-radius: 5px;
  padding: 6px;
  background-color: #007bff;
  transition: ease-in-out 0.2s;
  border: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: small;
  box-shadow: 0 0 2px #333;
  font-weight: 500;
  outline: none;
}
.specialOne:hover {
  background-color: white;
  color: #007bff;
}
.special-select {
  padding: 10px;
  border: none;
  box-shadow: 0 0 2px #333;
  font-weight: 500;
  outline: none;
  border-radius: 10px;
}
nav {
  margin-top: 0;

  position: fixed;
  left: 0;
  display: flex;
  margin: 0;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 32vh;
  background: var(--secondary-color);
}
.sidebar-icons {
  display: inline;
  vertical-align: middle;
  margin-right: 10px;
  width: 25px;
  height: 25px;
  margin-left: 0;
}
.logo {
  width: 120px;
  height: 120px;
}
.sidebar-icons span {
  vertical-align: middle;
  margin-left: 10px;
}
