* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .header
  {
      position: fixed;
      z-index: 100;
      display: flex;
      align-items: center;
      padding-top: 20px;
      padding-bottom: 20px;
      height: 50px;
      width: 100%;
      margin-top: 0;
      background-color: var(--secondary-color);
      box-shadow :0px 0px 2px #333;
    }
   
    .header .primary
    {
        margin-left: 10px;
        font-weight: 500;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size:22px;
    }
    .header .primary span{
        font-weight: 500;
        font-size: 16px;
    }
    .header .logout
    {
        margin-left: 78%;
        justify-self: right;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 6px;
        padding-bottom: 6px;
        background-color: #0279f8;
        box-shadow:0px 0px 1px rgb(0,0,0,0.1);
        transition: ease-in-out 0.3s;
        color: white;
        border:1px solid 0279f8;
        border-radius: 6px;
    }
    .header .logout:hover{
        background-color: white;
        color: #007BFF;
        box-shadow:0px 0px 4px white;
        border:1px solid #fcfcfc;
    }
  :root {
  --primary-color: #fff;
  --secondary-color: #007BFF;
  --complimentary-color: #fff;
  --contrast-color: #fff;
  --light-color: #fff;
  }
  
  .container {
    background: #fff;
    min-height: 100vh;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

 

 .item
  {
    cursor: pointer;
    padding-left: 35px;
    display: block;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 5px;
    transition: ease-in-out 0.3s;
  }
 .item:hover{
      background-color:#086ad3;

  }
  nav .selected
  {
    background-color:#086ad3;
  }
  nav a {
      font-size: 25px;
      color: #fff;
      text-decoration: none;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: medium;
  }
  
  nav {
      z-index: -10;
      position: fixed;
      left: 0;
      display: flex;
      margin: 0;
      justify-content: center;
      flex-direction: column;
      height: 100vh;
      width : 35vh;
      background: var(--secondary-color);
  }
  

.sidebar-icons {
    display:inline;
    vertical-align: middle;
    margin-right: 10px;
    width: 25px;
    height: 25px;
    margin-left: 0;
  }
  .logo{
    display:inline;
    vertical-align: middle;
    
    width: 95px;
    height: 95px;
    margin-right: 20px;
    
  }
.sidebar-icons span{
    vertical-align: middle;
    margin-left:10px
}

