.message-container {
  padding: 5px 10px;
  border-radius: 15px;
  width: fit-content;
  margin-bottom: 5px;
  margin-left: 4px;
  margin-right: 4px;
}
.message-container span {
  font-size: 0.7rem;
  margin-left: 15px;
}
.chat-container {
  width: 500px;
  padding: 10px;
  border-radius: 7px;
  background-color: rgb(251, 251, 251);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.chat-body {
  height: 500px;
  overflow-y: scroll;
}

#chat-body::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f8f8f8;
}

#chat-body::-webkit-scrollbar {
  width: 12px;
}

#chat-body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(202, 202, 202);
}

#sender {
  background-color: #007bff;
  color: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  border-top-right-radius: 4px;
}
#receiver {
  background-color: rgb(251, 251, 251);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  border-top-left-radius: 4px;
}
.message-input-container {
  display: flex;
}
.message-input {
  width: 100%;
  border: none;
  padding: 10px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  background-color: rgb(246, 246, 246);
  transition: ease-in-out 0.3s;
  outline: none;
}

.message-submit {
  border: none;
  outline: none;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  transition: ease-in-out 0.3s;
}
.message-submit:hover {
  background-color: #0079fa;
  color: white;
}
.message-input:hover {
  background-color: rgb(251, 251, 251);
}
