.backg1
{
    background-color: #007bff;

}
.error-container
{
    display: block;
    justify-content: center;
    align-content: center;
    
}
.errornum
{
    color: #fff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 300px;
    text-align: center;
    font-weight: 200;
    margin: 0;
    padding: 0;
}
.head
{
    margin:  0 0 0;
    color: #fff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-align: center;
    font-weight: 300;
}
.head2
{
    margin:  0 0 0;
    color: #fff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70px;
    text-align: center;
    font-weight: 300;
}
.text
{
    margin:  0 0 0;
    color: #fff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
}

