.card-container {
  font-family: "neuzeit-grotesk", sans-serif;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  height: 800px;
  font-family: "neuzeit-grotesk", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1em;
  line-height: 1.5;
  color: #303336;
}

.card {
  box-shadow: 1px 2px 9px rgb(218, 216, 216);
  height: 350px;
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
}

.card .card-top {
  height: 170px;
  font-weight: 300;
  font-style: normal;
  font-size: 1em;
  line-height: 1.5;
  color: #303336;
  background-color: #d1e8ee;
  overflow: hidden;
}

.main-title-create{
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 30px ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 400;
  }
  .blue-text-create
  {
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: #007bff;
    font-weight: 600;
  }
a {
  text-decoration: none;
  font-family: "Lato", sans-serif;
}

.card .card-top a {
  display: block;
  height: 100%;
}

.card .card-top a img {
  width: 100%;
  height: inherit;
  object-fit: cover;
  object-position: center;
  transition: 300ms;
}

.card .card-content {
  padding-top: 5px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
}
.top {
  height: 120px;
  padding-bottom: 130px;
  justify-content: center;
  align-content: center;
}

.name {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  font-weight: 500;
  margin-left: 10px;
  text-align: left;
  align-self: flex-end;
  grid-area: name;
}
.name a {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    color: black;
    text-decoration: none;
}
.profile {
  grid-area: profile;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  align-self: center;
  transition: ease-in-out 0.5s;
}
.profile:hover
{
    opacity: 0.7;
}
.srate {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: small;
  align-self: flex-start;
  text-align: left;
  grid-area: rate;
  color: white;
  font-weight: 500;
  background-color: #28a745;
  border-radius: 9px;
  padding-bottom: 2px;
  padding-top: 1px;
  margin-left: 5px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 1px 1px 2px #28a745;
}
.user {
  display: grid;
  grid-template-areas: "profile name" "profile rate";
  justify-content: left;
  height: 60px;
}
.bottom {
  display: inline;
}
.card .card-content .tag {
  font-weight: 700;
  letter-spacing: 2px;
}

.card .tag-blue {
  color: #33459b;
}

/* .card .tag-green {
    color: #339b4b;
}

.card .tag-red {
    color: #9b3d33;
} */

.card .title {
    margin-top: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 500;
  transition: 800ms;
  height: 75px;
  display: block;
  overflow: hidden;
  line-height: 98%;
  color: black;
}


.rate-container {
  float: right;
  align-items: center;
  vertical-align: middle;
  overflow: hidden;
  color: white;
  font-weight: 500;
  font-size: 11px;
  background-color: #ffc107;
  border-radius: 9px;
  padding-bottom: 2px;
  padding-top: 2px;
  padding-left: 8px;
  padding-right: 8px;
  box-shadow: 1px 1px 2px #ffc107;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

img.ratingIcon {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  padding-right: 5px;
  padding-bottom: 3px;
}
span.rating {
  vertical-align: middle;
  color: rgb(243, 243, 243);
  font-size: medium;
  font-weight: 600;
}

button.price {
  float: left;
  text-align: center;
  overflow: hidden;
  color: white;
  font-weight: 500;
  font-size: small;
  background-color: #007bff;
  border: none;
  border-radius: 9px;
  padding-bottom: 6px;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 1px 1px 2px #007bff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Content Style | Hover Effect */

.card .card-top a img:hover {
  opacity: 0.75;
}

.card .title:hover {
  color: #4b4b4b;
}

@media only screen and (max-width: 1500px) {
  .card-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: auto;
    margin: 0;
    padding: 40px;
  }

  .card {
    height: 350px;
  }
}
/* Display this style when screen-width is lower than 1240px */
@media only screen and (max-width: 1148px) {
  .card-container {
    grid-template-columns: 1fr 1fr 1fr;
    height: auto;
    margin: 0;
    padding: 40px;
  }

  .card {
    height: 350px;
  }
}
@media only screen and (max-width: 864px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
    height: auto;
    margin: 0;
  }

  .card {
    height: 350px;
  }
}

/* Display this style when screen-width is lower than 768px */
@media only screen and (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr;
  }
  .card {
    height: 350px;
  }
}

/* Display this style when screen-width is lower than 425px */
@media only screen and (max-width: 425px) {
  .card {
    height: 350px;
  }
  .top {
    height: 100px;
  }
}
