@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: lightblue;
}

.column {
    float: left;
    width: 50%;
}
 
.row:after {
    content: "";
    display: table;
    clear: both;
    }

div.polaroid {
        width: 490px;
       height: 550px;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        
        margin-left: 40px;
        margin-top: 30px;
    }
      
div.container {
    text-align: center;
    /* padding: 10px 20px; */
}

h1{
    text-align: center;
}

p.desc {
    margin-right: 30px;
    text-indent: 10px;
    text-align: justify;
    
}